# Archivos de entorno y temporales
venv/
__pycache__/
.ipynb_checkpoints/
.cache/
.cache.sqlite

# Ignorar contenido pesado de datos y dashboard, manteniendo las carpetas tracked mediante .gitkeep
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/outputs/*
!data/outputs/.gitkeep

dashboard/*
!dashboard/.gitkeep

# Archivos temporales de Power BI
*.pbix.lck
